.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../access/bg.jpg");
    background-size: "100% 100%";
    height: 100vh;
}

.login_disc {
    border-radius: 0.8rem;
    margin-top: 3rem;
    width: 25rem;
    height: 22rem;
    background-color: rgb(224, 242, 255);
    box-shadow: 4px 4px 15px #dadfe8;
}

.login_logo {
    background-image: url("../access/logo2.png");
    background-size: "100% 100%";
    background-repeat: no-repeat;
    width: 16rem;
    height: 5.5rem;

}

.login-header {
    white-space: nowrap;
    font-size: 4rem;
    color: #f0f3ed;
}

.login_category {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    flex-direction: row;
}